/*  typography */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700&display=swap');

body {
  line-height: 1.5;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 15px;
  line-height: 1.7;
  font-family: $primary-font;
}

h1,h2,h3, {
  color: $text-color-dark;
  font-family: $primary-font;
  font-weight: 400;
  line-height: 1.5;
}

h1, .h1{
  font-size: 39px;
}

h2, .h2{
  font-size: 31px;
}

h3, .h3{
  font-size: 25px;
}

