// Color Variables
$primary-color: #1352BF;
$secondary-color: #FDB035;
$text-color: #000;
$text-color-dark: #000;
$body-color: #fff;
$border-color: #1352BF;
$black: #000;
$white: #fff;
$light: rgb(223, 223, 223);


// Font Variables
$primary-font: 'Rubik', sans-serif;
$icon-font: 'themify';